.main{
    background-image: url('https://www.spruproducts.in/images/background/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}